{% set footerNav = craft.navigate.raw("footerNav") %}
<footer>
    <div class="footer-links">
        {% for nodes in footerNav %}
            <li>
            <a href="{{nodes.url}}">{{nodes.name}}</a>
            </li>
            {% endfor %}
    </div>
</footer>